@using System.Data;
@model System.Data.DataTable;
<style>
    .boxfunc{
    width: 1300px;
    height: 500px;
    background-color: rgb(235, 226, 226);
    border-radius: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 30px black;  
}

h3{
    text-align: center;
}
</style>
 @{
    Layout = "~/Views/Shared/_Layoutwithonlylogo.cshtml";
}

<body>
   
    </div>
    <br>
    <br>
    <div class="boxfunc">
        <table style="width:100%" border=2>
            <br>
                    <h3> Employee Reimbursement Request:</h3>
                    <thead>
                        <tr>
                            <th> Expense No &emsp; </th>
                            <th> Expense Name &emsp; </th>
                            <th> Amount &emsp; </th>
                            <th> Currency &emsp; </th>
                            <th> Date </th>
                            <th> Expense Proof </th>
                            <th> Approval </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (DataRow datarow in Model.Rows)
                            {
                                
                                <tr>
                                    <td>@datarow[0] &emsp; </td>
                                    <td>@datarow[1] &emsp; </td>
                                    <td>@datarow[3] &emsp; </td>
                                    <td>@datarow[4] &emsp; </td>
                                    <td>@datarow[2] &emsp; </td>                                   
                                    @{
                                        string imageBase64Data=Convert.ToBase64String((byte[])datarow[5]);
                                        string imageDataURL=string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                        <td><img src=@imageDataURL width="50px" height="50px"></td>
                                    }
                                    <td>@datarow[6] &emsp; </td>

                                    
                                    <td><div>
                                        <a  href="@Url.Action("DoApprovals", "Employee", new { approvalstatus = "Approved", exp_number=@datarow[0] })"><img src = "https://cdn1.iconfinder.com/data/icons/business-700/48/Approved-512.png" width=40 height=40> 
                                        <a  href="@Url.Action("DoApprovals", "Employee", new { approvalstatus = "Rejected", exp_number=@datarow[0] })"><img src="https://cdn4.iconfinder.com/data/icons/business-management-flat-9/24/reject_stamp_rejected_deny_refuse-512.png" width=40 height=40>
                                    </div></td>
                                </tr>
                            }
    
                        }
                        </tbody>
                        
                </table>            
    </div>
    <div class="container">
        <a button asp-controller="Employee" asp-action="AdminDashboard" type="submit">Go back</button></a>    
    </div>

    
</body>