@using System.Data;
@model System.Data.DataTable;
<style>
    .boxfunc{
    width: 1300px;
    height: 500px;
    background-color: rgb(235, 226, 226);
    border-radius: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 30px black;  

}

h3{
    text-align: center;
}
</style>


<body>
    <br>
    <br>
    <div class="boxfunc">
        <table style="width:100%" border=2>
            <br>
                    <h3> Employee Reimbursement Request:</h3>
                    <thead>
                        <tr>
                            <th> Expense No &emsp; </th>
                            <th> Expense Name &emsp; </th>
                            <th> Amount &emsp; </th>
                            <th> Currency &emsp; </th>
                            <th> Date </th>
                            <th> Approval </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (DataRow datarow in Model.Rows)
                            {
                                
                                <tr>
                                    <td>@datarow[0] &emsp; </td>
                                    <td>@datarow[1] &emsp; </td>
                                    <td>@datarow[3] &emsp; </td>
                                    <td>@datarow[4] &emsp; </td>
                                    <td>@datarow[2] &emsp; </td>                                   
                                    <td>@datarow[5] &emsp; </td>
                                    
                                    <td>    <div>
                                        @* <a  href="@Url.Action("DeleteProduct", "Employee", new { deleteItem = "Pending" })">*@ <button style="color:green"> Approve </button> 
                                        @* <a  href="@Url.Action("DeleteProduct", "Employee", new { deleteItem = "Pending" })">*@ <button style="color:red"> Deny </button> 
                                        </div></td>
                                </tr>
                            }
    
                        }
                        </tbody>
                        
                </table>            
    </div>
    <div class="container">
        <a button asp-controller="Employee" asp-action="AdminDashboard" type="submit">Go back</button></a>    
    </div>

    
</body>