@model IEnumerable<NewEmployee>
    @{
        ViewData["Title"] = "Index";
    }


<h1>List of Employee</h1>
<table>
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>EmployeeName</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NewEmployee item in Model)
        {
            <tr>
                <td>@item.employeeID</td>
                <td>@item.employeeName</td>
                <td>@item.age</td>
                <td>@item.salary</td>
                <td>@item.department</td>
            </tr> 
        }
    </tbody>
</table>